<div class="siva">
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="../../../assets/bg.jpg" alt="Food table" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
          <h1 class="w3-xxxlarge w3-text-white"><span class="w3-padding w3-black" style="opacity: 0.8;"><b>Dietary habits</b></span><br><br> <span class="w3-hide-small w3-text-light-grey">Welcome!</span></h1>
        </div>
      </header>
</div>
