<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="topnav" id="myTopnav">
  <a routerLink="/home" class="active"><img src="../favicon.ico" width="20" height="20"> DH</a>
  <a *ngIf="!auth.isLoggedIn()" (click)="collapse()" routerLink="/sign-in" id="sign-in"><i class="fa fa-sign-in"></i> Sign in</a>
  <a *ngIf="auth.isAdmin()" (click)="collapse()" routerLink="/users"><i class="fa fa-users"></i> Users</a>
  <a *ngIf="auth.isAdmin()" (click)="collapse()" routerLink="/nutrition"><i class="fa fa-cutlery"></i> Nutritions</a>
  <a *ngIf="auth.isLoggedIn()" (click)="collapse()" routerLink="/my-diet"><i class="fa fa-cutlery"></i> My diet</a>
  <a *ngIf="auth.isLoggedIn()" (click)="collapse()" routerLink="/my-dri"><i class="fa fa-cutlery"></i> My DRI</a>
  <a *ngIf="auth.isLoggedIn()" (click)="collapse()" routerLink="/profile"><i class="fa fa-user"></i> My profile</a>
  <a *ngIf="auth.isLoggedIn()" (click)="collapse()" (click)="auth.logout()" id="logout"><i class="fa fa-sign-out"></i> Logout</a>
  <a style="font-size:15px;" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<router-outlet></router-outlet>

<footer class="w3-container w3-padding-32 w3-dark-grey w3-center">
  <div class="w3-padding-16"><span class="w3-xlarge w3-border-blue w3-bottombar">Contact</span></div>
    <p class="responsive-text"><i class="responsive-text fa fa-map-marker w3-text-blue"></i>  John Kennedy 36, New Belgrade, Serbia</p>
    <p class="responsive-text"><i class="responsive-text fa fa-clock-o w3-text-blue"></i>  Mon-Fri : 09-17h</p>
    <p class="responsive-text"><i class="responsive-text fa fa-phone w3-text-blue"></i>  +38165515524</p>
    <p class="responsive-text"><i class="responsive-text fa fa-envelope-o w3-text-blue"></i>  contact@dhab.com</p>
<a class="responsive-text w3-button w3-black" (click)="toTop()"><i class="fa fa-arrow-up w3-margin-right"></i>To top</a>
<div class="w3-xlarge w3-section">
<i class="responsive-text fa fa-facebook-official w3-hover-opacity" style="padding: 5pt;"></i>
<i class="responsive-text fa fa-instagram w3-hover-opacity" style="padding: 5pt;"></i>
<i class="responsive-text fa fa-snapchat w3-hover-opacity" style="padding: 5pt;"></i>
<i class="responsive-text fa fa-pinterest-p w3-hover-opacity" style="padding: 5pt;"></i>
<i class="responsive-text fa fa-twitter w3-hover-opacity" style="padding: 5pt;"></i>
<i class="responsive-text fa fa-linkedin w3-hover-opacity" style="padding: 5pt;"></i>
</div>
<p>Powered by <a class="w3-hover-text-green">someone</a></p>
</footer>
