/*updating-current-dri*/
.main-div {
  display:flex;
  justify-content: center;
}

.left-div {
  float: left;
  margin-right: 7px;
}

.small-input {
  text-align: center;
  width: 80px;
}

.separator {
  border-top: 3px solid #bbb;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*updating-current-dri-end*/

/*table*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 3vh;
}

th, td {
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.divForTable {
  overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*table-end*/



/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  opacity: 0.9;
  background-color: #ccc;
  color: black;
  cursor: pointer;
}

.cancelbtn:hover {
  opacity: 1;
}

/* Add a color to the delete button */
.deletebtn {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  opacity: 0.9;
  background-color: #f44336;
  cursor: pointer;
}

.deletebtn:hover {
  opacity: 1;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ddd;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    width: 97%;
    display: block;
    margin-bottom: 10px;
  }
}
