/*spinner*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(46, 143, 235);
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*spinner-end*/

/*table*/

#divForTable {
	margin: 0 auto;
}
thead, tfoot {position:sticky;background-color:#000; color:#fff;}
thead {top:0; }
tfoot {bottom:0;}
.tableFixHead {
	overflow: auto;
	height: 60vh;
	width: 95vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
tr:hover {background-color: #ffeb3b;}
tr:nth-child(even):hover {background-color: #ffeb3b;}
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
thead     { background:#2196F3; }
tr:nth-child(even) {background-color: #f2f2f2;}
/*table-end*/
