/*table*/

#divForTable {
  margin: 0 auto;
  margin-bottom: 4vw;
  overflow: auto;
	max-height: 80vh;
	width: 95vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
thead, tfoot {position:sticky;background-color:#000; color:#fff;}
thead {top:0; }
tfoot {bottom:0;}
tr:hover {background-color: #bdf79c;}
tr:nth-child(even):hover {background-color: #bdf79c;}
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
thead     { background:#2196F3; }
tr:nth-child(even) {background-color: #f2f2f2;}
/*table-end*/

.desktop-button {
  float: left;
}

.mobile-btn {
  display: none;
}

/* Smartphone */
@media screen and (max-width: 800px) {
  .desktop-button {
    display: none;
  }

  .mobile-btn {
    display: block;
    z-index: 10000;
    height: 60px;
    line-height: 60px;
    width: 60px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
