<div style="display: table; margin-top: 10px; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
<div id="date_label" style="font-size: 20px; display: table-cell;" class="w3-center w3-padding">Date </div>
<div>
	<input type="date" [ngModel] ="dateOfConsumption | date:'yyyy-MM-dd'" (ngModelChange)="onDateChange($event)">
</div>
</div>

<div *ngIf="!isLoaded" class="loader"></div>

<div *ngIf="isLoaded" id="divForTable" class="w3-padding w3-container w3-responsive">
  <table id="user-nutritions">
    <tr class="w3-blue">
      <th class="w3-center"><div style="width: 200px;">Food</div></th>
      <th class="w3-center">Quantity</th>
      <th class="w3-center">Calories</th>
            <th class="w3-center">total_fat_g</th>
      <th class="w3-center">saturated_fat_g</th>
      <th class="w3-center">cholesterol_mg</th>
      <th class="w3-center">sodium_mg</th>
      <th class="w3-center">choline_mg</th>
      <th class="w3-center">folate_mcg</th>
      <th class="w3-center">folic_acid_mcg</th>
      <th class="w3-center">niacin_mg</th>
      <th class="w3-center">pantothenic_acid_mg</th>
      <th class="w3-center">riboflavin_mg</th>
      <th class="w3-center">thiamin_mg</th>
      <th class="w3-center">vitamin_a_IU</th>
      <th class="w3-center">vitamin_a_rae_mcg</th>
      <th class="w3-center">carotene_alpha_mcg</th>
      <th class="w3-center">carotene_beta_mcg</th>
      <th class="w3-center">cryptoxanthin_beta_mcg</th>
      <th class="w3-center">lutein_zeaxanthin_mcg</th>
      <th class="w3-center">vitamin_b12_mcg</th>
      <th class="w3-center">vitamin_b6_mg</th>
      <th class="w3-center">vitamin_c_mg</th>
      <th class="w3-center">vitamin_d_IU</th>
      <th class="w3-center">vitamin_e_mg</th>
      <th class="w3-center">tocopherol_alpha_mg</th>
      <th class="w3-center">vitamin_k_mcg</th>
      <th class="w3-center">calcium_mg</th>
      <th class="w3-center">copper_mg</th>
      <th class="w3-center">irom_mg</th>
      <th class="w3-center">magnesium_mg</th>
      <th class="w3-center">manganese_mg</th>
      <th class="w3-center">phosphorous_mg</th>
      <th class="w3-center">potassium_mg</th>
      <th class="w3-center">selenium_mcg</th>
      <th class="w3-center">zink_mg</th>
      <th class="w3-center">protein_g</th>
      <th class="w3-center">alanine_g</th>
      <th class="w3-center">arginine_g</th>
      <th class="w3-center">aspartic_acid_g</th>
      <th class="w3-center">cystine_g</th>
      <th class="w3-center">glutamic_acid_g</th>
      <th class="w3-center">glycine_g</th>
      <th class="w3-center">histidine_g</th>
      <th class="w3-center">hydroxyproline_g</th>
      <th class="w3-center">isoleucine_g</th>
      <th class="w3-center">leucine_g</th>
      <th class="w3-center">lysine_g</th>
      <th class="w3-center">methionine_g</th>
      <th class="w3-center">phenylalanine_g</th>
      <th class="w3-center">proline_g</th>
      <th class="w3-center">serine_g</th>
      <th class="w3-center">threonine_g</th>
      <th class="w3-center">tryptophan_g</th>
      <th class="w3-center">tyrosine_g</th>
      <th class="w3-center">valine_g</th>
      <th class="w3-center">carbohydrate_g</th>
      <th class="w3-center">fiber_g</th>
      <th class="w3-center">sugars_g</th>
      <th class="w3-center">fructose_g</th>
      <th class="w3-center">galactose_g</th>
      <th class="w3-center">glucose_g</th>
      <th class="w3-center">lactose_g</th>
      <th class="w3-center">maltose_g</th>
      <th class="w3-center">sucrose_g</th>
      <th class="w3-center">fat_g</th>
      <th class="w3-center">saturated_fatty_acids_g</th>
      <th class="w3-center">monounsaturated_fatty_acids_g</th>
      <th class="w3-center">polyunsaturated_fatty_acids_g</th>
      <th class="w3-center">fatty_acids_total_trans_g</th>
      <th class="w3-center">alcohol_g</th>
      <th class="w3-center">ash_g</th>
      <th class="w3-center">caffeine_mg</th>
      <th class="w3-center">theobromine_mg</th>
      <th class="w3-center">water_g</th>
      <th class="w3-center">Action</th>
    </tr>
    <tr *ngFor="let nutrition of nutritions">
      <td class="w3-center"><div style="width: 200px;">{{nutrition.nutrition.name}}</div></td>
      <td class="w3-center">{{nutrition.quantity}} g</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.calories}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.total_fat_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.saturated_fat_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.cholesterol_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.sodium_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.choline_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.folate_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.folic_acid_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.niacin_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.pantothenic_acid_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.riboflavin_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.thiamin_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_a_IU}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_a_rae_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.carotene_alpha_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.carotene_beta_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.cryptoxanthin_beta_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.lutein_zeaxanthin_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_b12_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_b6_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_c_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_d_IU}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_e_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.tocopherol_alpha_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.vitamin_k_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.calcium_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.copper_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.irom_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.magnesium_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.manganese_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.phosphorous_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.potassium_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.selenium_mcg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.zink_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.protein_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.alanine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.arginine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.aspartic_acid_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.cystine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.glutamic_acid_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.glycine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.histidine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.hydroxyproline_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.isoleucine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.leucine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.lysine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.methionine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.phenylalanine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.proline_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.serine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.threonine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.tryptophan_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.tyrosine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.valine_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.carbohydrate_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.fiber_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.sugars_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.fructose_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.galactose_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.glucose_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.lactose_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.maltose_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.sucrose_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.fat_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.saturated_fatty_acids_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.monounsaturated_fatty_acids_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.polyunsaturated_fatty_acids_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.fatty_acids_total_trans_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.alcohol_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.ash_g}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.caffeine_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.theobromine_mg}}</td>
      <td class="w3-center">{{nutrition.quantity/100*nutrition.nutrition.water_g}}</td>
      <td class="w3-center">
        <div class="w3-center">
          <button style="width: 70px; height: 30px;" (click)="updateUserNutrition(nutrition)" class="w3-btn w3-blue">Update
          </button>
        </div>
		<div class="w3-center">
          <button style="width: 70px; height: 30px;" (click)="deleteUserNutrition(nutrition)" class="w3-btn w3-red">Delete
          </button>
        </div>
      </td>
    </tr>
	<tr style="background-color: #d9d9d0;">
      <th class="w3-center"><div style="width: 200px;">Total</div></th>
      <th class="w3-center">{{sumquantity}} g</th>
      <th class="w3-center">{{sumcalories}}</th>
      <th class="w3-center">{{sumtotal_fat_g}}</th>
      <th class="w3-center">{{sumsaturated_fat_g}}</th>
      <th class="w3-center">{{sumcholesterol_mg}}</th>
      <th class="w3-center">{{sumsodium_mg}}</th>
      <th class="w3-center">{{sumcholine_mg}}</th>
      <th class="w3-center">{{sumfolate_mcg}}</th>
      <th class="w3-center">{{sumfolic_acid_mcg}}</th>
      <th class="w3-center">{{sumniacin_mg}}</th>
      <th class="w3-center">{{sumpantothenic_acid_mg}}</th>
      <th class="w3-center">{{sumriboflavin_mg}}</th>
      <th class="w3-center">{{sumthiamin_mg}}</th>
      <th class="w3-center">{{sumvitamin_a_IU}}</th>
      <th class="w3-center">{{sumvitamin_a_rae_mcg}}</th>
      <th class="w3-center">{{sumcarotene_alpha_mcg}}</th>
      <th class="w3-center">{{sumcarotene_beta_mcg}}</th>
      <th class="w3-center">{{sumcryptoxanthin_beta_mcg}}</th>
      <th class="w3-center">{{sumlutein_zeaxanthin_mcg}}</th>
      <th class="w3-center">{{sumvitamin_b12_mcg}}</th>
      <th class="w3-center">{{sumvitamin_b6_mg}}</th>
      <th class="w3-center">{{sumvitamin_c_mg}}</th>
      <th class="w3-center">{{sumvitamin_d_IU}}</th>
      <th class="w3-center">{{sumvitamin_e_mg}}</th>
      <th class="w3-center">{{sumtocopherol_alpha_mg}}</th>
      <th class="w3-center">{{sumvitamin_k_mcg}}</th>
      <th class="w3-center">{{sumcalcium_mg}}</th>
      <th class="w3-center">{{sumcopper_mg}}</th>
      <th class="w3-center">{{sumirom_mg}}</th>
      <th class="w3-center">{{summagnesium_mg}}</th>
      <th class="w3-center">{{summanganese_mg}}</th>
      <th class="w3-center">{{sumphosphorous_mg}}</th>
      <th class="w3-center">{{sumpotassium_mg}}</th>
      <th class="w3-center">{{sumselenium_mcg}}</th>
      <th class="w3-center">{{sumzink_mg}}</th>
      <th class="w3-center">{{sumprotein_g}}</th>
      <th class="w3-center">{{sumalanine_g}}</th>
      <th class="w3-center">{{sumarginine_g}}</th>
      <th class="w3-center">{{sumaspartic_acid_g}}</th>
      <th class="w3-center">{{sumcystine_g}}</th>
      <th class="w3-center">{{sumglutamic_acid_g}}</th>
      <th class="w3-center">{{sumglycine_g}}</th>
      <th class="w3-center">{{sumhistidine_g}}</th>
      <th class="w3-center">{{sumhydroxyproline_g}}</th>
      <th class="w3-center">{{sumisoleucine_g}}</th>
      <th class="w3-center">{{sumleucine_g}}</th>
      <th class="w3-center">{{sumlysine_g}}</th>
      <th class="w3-center">{{summethionine_g}}</th>
      <th class="w3-center">{{sumphenylalanine_g}}</th>
      <th class="w3-center">{{sumproline_g}}</th>
      <th class="w3-center">{{sumserine_g}}</th>
      <th class="w3-center">{{sumthreonine_g}}</th>
      <th class="w3-center">{{sumtryptophan_g}}</th>
      <th class="w3-center">{{sumtyrosine_g}}</th>
      <th class="w3-center">{{sumvaline_g}}</th>
      <th class="w3-center">{{sumcarbohydrate_g}}</th>
      <th class="w3-center">{{sumfiber_g}}</th>
      <th class="w3-center">{{sumsugars_g}}</th>
      <th class="w3-center">{{sumfructose_g}}</th>
      <th class="w3-center">{{sumgalactose_g}}</th>
      <th class="w3-center">{{sumglucose_g}}</th>
      <th class="w3-center">{{sumlactose_g}}</th>
      <th class="w3-center">{{summaltose_g}}</th>
      <th class="w3-center">{{sumsucrose_g}}</th>
      <th class="w3-center">{{sumfat_g}}</th>
      <th class="w3-center">{{sumsaturated_fatty_acids_g}}</th>
      <th class="w3-center">{{summonounsaturated_fatty_acids_g}}</th>
      <th class="w3-center">{{sumpolyunsaturated_fatty_acids_g}}</th>
      <th class="w3-center">{{sumfatty_acids_total_trans_g}}</th>
      <th class="w3-center">{{sumalcohol_g}}</th>
      <th class="w3-center">{{sumash_g}}</th>
      <th class="w3-center">{{sumcaffeine_mg}}</th>
      <th class="w3-center">{{sumtheobromine_mg}}</th>
      <th class="w3-center">{{sumwater_g}}</th>
    </tr>
  </table>

</div>
